@import url("./variables.css");
@import url("./extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

#app {
    background: var(--primary-bg);
    width: 1512px;
    padding: calc(var(--padding-l) + 6px);
    font-family: var(--primary-ff);
    overflow-x: hidden;
}

.logo {
    width: 94px;
    height: 54px;
}

.nav {
    width: 516px;
}

.nav-link {
    font-size: var(--fs-s);
    color: var(--primary-text-color);
}

.icons {
    width: 88px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
}

.main {
    margin-top: var(--margin-xxxl);
}

.info {
    width: 718px;
}

.main__title {
    margin-top: 0px;
    font-size: var(--fs-xl);
}

.main__paragraph {
    font-size: var(--fs-s);
    margin-top: var(--margin-m);
}

.poster {
    width: 655px;
    height: 655px;
}

.about-us__poster {
    width:560px;
    height:664px;
}

.button-wrapper {
    margin-top: calc(var(--margin-xxl) + 8px); 
}

.button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
}

.about-us > .info {
    width: 564px;
}

.about-us > .info > .paragraph {
    margin-top: var(--margin-l);
    font-size: var(--fs-s);
}

.benefit-icon {
    width: 48px;
    height: 48px;
    margin-right: var(--margin-m);
} 

.benefit-title {
    font-size: var(--fs-s);
}

.benefit-paragraph {
    margin-top: var(--margin-s);
}

.product__title {
    font-size: var(--fs-m);
    margin-top: var(--margin-s);
    display: flex;
    justify-content: center;
}

.product__image {
    width: 440px;
    height: 440px;
}

.banner__image {
    width : 1512px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-comments {
    text-align: center;
    margin-top: var(--margin-xxxl);
}

.comment {
    width: 474px;
    height: 172px;
    background-color: var(--secondary-bg);
    margin-top: calc(var(--margin-xxxl) - 66px);
    position: relative; 
    z-index: 1;
} 

.comment:last-child {
    background-color: var(--secondary-bg);
    margin-right: 0px;
    margin-top: 0px;
    margin-left: var(--margin-s);
}

.comments__last-comment {
    width: 475px;
    height: 172px;
    border: 1px solid var(--secondary-text-color);
    background-color: var(--primary-bg); 
    margin-left: calc(var(--margin-xxxl) + 321px);
    margin-top: -14px;
    position: relative; 
    z-index: 0;
}

.img-title {
    display: flex;
}

.comment__person-img {
    width: 50px;
    height: 50px;
    margin-left: calc(var(--margin-s) + 8px);
    margin-top: calc(var(--margin-s) + 8px);
}

.text-comment {
    margin-top: calc(var(--margin-s) + 4px);
    margin-left: calc(var(--margin-s) + 8px);
    margin-right: calc(var(--margin-s) + 8px);
}

.person__title {
    font-size: 20px;  
    margin-top: var(--margin-l);
    margin-left: calc(var(--margin-xs) + 4px); 
}

.last-comment__side-panel {
    display: flex;
    font-size: 18px;
    margin-top: calc(var(--margin-xs) + 3px);
    margin-left: calc(var(--margin-xxxl) + 459px);
}

.side-panel{
    height: 20px;
    margin-left: 11.23px;
}

.bestsellers__product {
    margin-right: var(--margin-l);
}

.bestsellers__product:last-child {
    margin-right: 0px;
}

.bestsellers__product {
    display: flex;
    margin-top: 44.5px;
    align-items: center;  
}

.title-prices {
    font-size: var(--fs-m);  
}

.price {
    font-family: "nanum-bold", sans-serif;
    font-size: var(--fs-m);
    margin-left: calc(var(--margin-xxxl) - 59px);
    justify-content: center;
}

.icon-add {
    border: 2px solid var(--secondary-text-color);
    border-radius: 3px;
    padding: var(--padding-xs);
    width: 40px;
    height: 40px;
    margin-left: calc(var(--margin-xs) + 9px);
}

.bestsellers__next-page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestsellers__reactangle {
    border: none;
    background-color: var(--tertiary-bg);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin-top: 107.5px;
    margin-right: calc(var(--margin-xs) + 3px);
}

.bestsellers__reactangle:last-child {
    border: none;
    background-color: var(--secondary-bg);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin-top: 107.5px;
    margin-right: 0px;
    margin-left: 0px;
}

.bestsellers__button-wrapper {
    margin-top: calc(var(--margin-xxl) + 18px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestsellers__button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
}

.order__background {
    margin-top: var(--margin-xxxl);
    background-image: url('../public/images/backgrounds/background-1.png');
    width: 1512px;
    height: 800px;
    padding-left: calc(var(--padding-xl) + 6px);
}

.title-background {
    padding-top: calc(var(--padding-xxxl) - 61px);
}

.order-info:first-child {
    margin-top: var(--margin-xxl);
    padding-bottom: calc(var(--padding-xs) + 6px);
    border-bottom: 1px solid var(--secondary-bg);
    width: 560px;
}

.order-info{
    margin-top: calc(var(--margin-s) + 8px);
    padding-bottom: calc(var(--padding-xs) + 6px);
    border-bottom: 1px solid var(--secondary-bg);
    width: 560px;
}

.icon-add__plus {
    align-items: center;
    justify-content: center;
    display: flex;
}

.order__button-wrapper {
    display: flex;
    width: 191px;
    height: 48px;
    background-color: var(--tertiary-bg);
    color: var(--fourth-text-color);
    margin-top: calc(var(--margin-s) + 8px);
    justify-content: center;
    align-items: center;
}

.order__button-wrapper img {
    width: 13.87px;
    height: 15.7px;
    margin-right: 14.98px;
}

.order__last-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-xxl);
    width: 302px;
    height: 58px;
    background-color: inherit;
    border: 1px solid #2E2927;
    font-size: 18px;
}

.bottom-info {
    margin-top: calc(var(--margin-s) + 3px);
    width: 363px;
    height: 44px;
}

.info-logo {
    width: 94px;
    height: 54px;
    margin-top: var(--margin-xxl);
    margin-left: calc(var(--margin-xl) + 6px);
}

.info__socials {
    display: flex;
    margin-left: calc(var(--margin-xl) + 6px);
    margin-top: calc(var(--margin-s) + 4px);
}

.media {
    width: 40px;
    height: 40px;
    margin-right: var(--margin-s);
}

.title-list {
    font-size: 20px;
}

.logo-socials {
    display: flex;
}

.info__data-information {
    margin-top: var(--margin-xxl);
    margin-left: calc(var(--margin-xxxl) + 40px);
}

.list-element:first-child {
    margin-top: calc(var(--margin-l) + 2px);
}
    
.list-element {
    margin-top: var(--margin-m);
}

.info__data-address {
    margin-top: var(--margin-xxl);
    margin-left: calc(var(--margin-xxxl) + 40px);
    width: 50%;
} 

.list-element-email img{
    width: 11.77px;
    height: 20px;
    margin-left: var(--margin-xxxl);
}

.list-element-email {
    margin-top: calc(var(--margin-m) + 4px);
    display: flex;
    padding-bottom: calc(var(--padding-xs) + 4px);
    border-bottom: 1px solid var(--secondary-bg);
    width: 300px;
}

.info__data-end {
    margin-top: var(--margin-xxl);
    margin-left: calc(var(--margin-xxxl) + 40px);
    margin-right: calc(var(--margin-xl) + 6px);
}

.footer {
    margin-top: calc(var(--margin-xxxl) - 70px);
    margin-left: calc(var(--margin-xl) + 6px);
}

.footer a {
    margin-right: calc(var(--margin-xs) + 8px);
}

.footer-text {
    margin-top: var(--margin-m);
}